<aside [class.expanded]="isExpanded" class="sidebar">
  <button class="toggle-button" (click)="toggleSidebar()">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <div class="user-profile" *ngIf="isExpanded">
    <!-- Informações do usuário -->
    <img src="../../../assets/pngegg.png" alt="User" />
    <p>Nome do Usuário</p>
  </div>

  <nav class="nav-menu" *ngIf="isExpanded">
    <ul>
      <li><a href="#">Dashboard</a></li>
      <li><a href="#">Gerenciamento de Processos</a></li>
      <li><a href="#">Relatórios</a></li>
      <li><a href="#">Configurações</a></li>
      <!-- Mais links conforme necessário -->
    </ul>
  </nav>
  <!-- Outros controles ou informações -->
</aside>
